<div class="form-group">
  <label>Project Name</label>
  <input class="form-control" #newProjectName><br>
  <label>Image Url</label>
  <input class="form-control" #newImageUrl><br>
  <label>About project</label>
  <textarea class="form-control text-style" rows="8" cols="100" #newDescription></textarea><br>
  <label>Fund Amount</label>
  <input class="form-control" #newFundGoal><br>
  <label>Risk and Challenges</label>
  <input class="form-control" #newRiskAndChallenges><br>
  <button type="button" (click)="submitForm(newProjectName.value,newImageUrl.value,newDescription.value,newFundGoal.value,newRiskAndChallenges.value); newProjectName.value='';newImageUrl.value='';newDescription.value='';newFundGoal.value='';newRiskAndChallenges.value=''">Save</button>
</div>
